body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #d31212;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: rgba(253, 251, 251, 0.959);
    text-decoration: none;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;

.project {
    margin-bottom: 20px;
}
meter{
    width: 600px;
    height: 20px;
}
footer {
    background-color: #333;
    color: rgb(241, 235, 235);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}